<footer class="footer" id="footerSection">
    <h2>CONTACTANOS:</h2>
  
    <div class="container-contactanos">
      <div class="container-contactanos-left">
        <h2>Correo Electrónico:</h2>
        <p>
          <a style="color: white" href="mailto:driverXperence@gmail.com">driverXperencegmail.com</a>
        </p>
      </div>
      <div class="container-contactanos-midle ">
        <h2>Nuestras Redes Sociales:</h2>
        <i class="pi-facebook"style="font-size: 1rem"></i>
        <i class="pi-tiktok"style="font-size: 1rem"></i>
        <i class="pi-whatsapp"style="font-size: 1rem"></i>
      </div>
      <div class="container-contactanos-right">
        <h2>Teléfonos:</h2>
        <p>(477) 333-3333</p>
        <p>(477) 333-3333</p>
        <p>(477) 333-3333</p>
      </div>
    </div>
  
    <hr />
    <h2>Derechos Reservados</h2>
    <p>
      El contenido de este sitio web está protegido por las leyes de derechos
      de autor. Queda prohibida su reproducción sin autorización previa.
      DriveXperience se reserva el derecho de modificar la información en
      cualquier momento. Para más detalles, contáctenos.
    </p>
  </footer>
  