<app-nvbar></app-nvbar>
<h2 style="text-align: center">NUESTRO CATÁLOGO</h2>
<section>
    <div class="row">
        <div class="column">
            <div class="content">
                <img id="carImage1" src="../../../../assets/images/auto1.png" style="width: 100%" />
                <h4>Acura</h4>
                <p><b>Precio:</b> <span id="carPrice1">440,000</span></p>
                <p><b>Año:</b> <span id="carYear1">2022</span></p>
                <button class="btn" onclick="redirectToPage(1)">Adquirir</button>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img id="carImage2" src="../../../../assets/images/auto2.png" style="width: 100%" />
                <h4>Acura</h4>
                <p><b>Precio:</b> <span id="carPrice2">410,000</span></p>
                <p><b>Año:</b> <span id="carYear2">2022</span></p>
                <button class="btn" onclick="redirectToPage(2)">Adquirir</button>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img id="carImage3" src="../../../../assets/images/auto3.png" style="width: 100%" />
                <h4>Acura</h4>
                <p><b>Precio:</b> <span id="carPrice3">320,000</span></p>
                <p><b>Año:</b> <span id="carYear3">2021</span></p>
                <button class="btn" onclick="redirectToPage(3)">Adquirir</button>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img id="carImage3" src="../../../../assets/images/auto3.png" style="width: 100%" />
                <h4>Acura</h4>
                <p><b>Precio:</b> <span id="carPrice3">320,000</span></p>
                <p><b>Año:</b> <span id="carYear3">2021</span></p>
                <button class="btn" onclick="redirectToPage(3)">Adquirir</button>
            </div>
        </div>
        <!-- Puedes seguir con los otros autos de la misma forma -->
    </div>
</section>
<app-footer></app-footer>
