<app-nvbar></app-nvbar>
<h2 style="text-align: center">NUESTRO CATÁLOGO</h2>
<section>
    <div class="row">
        <div class="column">
            <div class="content">
                <img id="carImage1" [src]="car1.imagen" style="width: 100%" />
                <h4>{{ car1.marca }}</h4>
                <p><b>Precio:</b> <span>{{ car1.precio | currency }}</span></p>
                <p><b>Año:</b> <span>{{ car1.anio }}</span></p>
                <button class="btn" (click)="redirectToPage(car1)">Adquirir</button>
            </div>
        </div>
        
        <div class="column">
            <div class="content">
                <img id="carImage2" [src]="car2.imagen" style="width: 100%" />
                <h4>{{ car2.marca }}</h4> 
                <p><b>Precio:</b> <span>{{ car2.precio | currency }}</span></p>
                <p><b>Año:</b> <span>{{ car2.anio }}</span></p>
                <button class="btn" (click)="redirectToPage(car2)">Adquirir</button>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img id="carImage3" [src]="car3.imagen" style="width: 100%" />
                <h4>{{ car3.marca }}</h4> 
                <p><b>Precio:</b> <span>{{ car3.precio | currency }}</span></p>
                <p><b>Año:</b> <span>{{ car3.anio }}</span></p>
                <button class="btn" (click)="redirectToPage(car3)">Adquirir</button>
            </div>
        </div>
        <div class="column">
            <div class="content">
                <img id="carImage3" [src]="car3.imagen" style="width: 100%" />
                <h4>{{ car4.marca }}</h4> 
                <p><b>Precio:</b> <span>{{ car4.precio | currency }}</span></p>
                <p><b>Año:</b> <span>{{ car4.anio }}</span></p>
                <button class="btn" (click)="redirectToPage(car4)">Adquirir</button>
            </div>
        </div>
        <!-- Puedes seguir con los otros autos de la misma forma -->
    </div>
</section>
<app-footer></app-footer>