<img
  class="main-image"
  src="../../../../assets/images/img-principal.jpg"
  alt="imagen-principal"
/>
<section>
  <div class="row">
    <div class="container">
      <div class="image-wrapper">
        <a routerLink="/catalogo">
          <img
            src="../../../../assets/images/img-financiamiento.jpg"
            alt="Text-Financieminto"
            class="image"
            id="image-financiamiento"
          />
          <div class="overlay">
            <p>¡REALIZAR SIMULACIÓN!</p>
          </div>
        </a>
      </div>
      <div class="image-wrapper">
        <a routerLink="/login">
          <img
            src="../../../../assets/images/img-servicio.jpg"
            alt="Text-Servicio"
            class="image"
            id="image-servicio"
          />
          <div class="overlay">
            <p>¡AGENDAR CITA!</p>
          </div>
        </a>
      </div>
      <div class="image-wrapper">
        <a routerLink="/login">
          <img
            src="../../../../assets/images/img-prueba-manejo.jpg"
            alt="Text-Promociones"
            class="image"
            id="image-prueba"
          />
          <div class="overlay">
            <p>¡AGENDAR CITA!</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="we-are">
    <h1>DriveXperience</h1>
    <h2>Agencia de Autos Seminuevos, León GTO</h2>
    <p>
      Este es el sitio web oficial de la Agencia Seminuevos DriveXperience. Aquí
      puedes encontrar toda la información sobre los modelos de autos seminuevos
      que tenemos disponibles, nuestra área de servicio automotriz, horarios de
      atención, métodos de contacto y promociones vigentes.
    </p>
  </div>
  <div class="container-medio">
      <img class="img-index-midle" src="../../../../assets/images/img-index-medio.jpg" alt="imagen-medio" />
  </div>

  <!-- Componente de la tabla de horarios -->
  <div class="container-schedule">
    <div class="schedule">
      <h2>¡ESTAMOS LISTOS PARA RECIBIRTE!</h2>
      <table>
        <thead>
          <tr>
            <th>Día</th>
            <th>Horario de Atención</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Lunes</td>
            <td>9:00 AM - 7:00 PM</td>
          </tr>
          <tr>
            <td>Martes</td>
            <td>9:00 AM - 7:00 PM</td>
          </tr>
          <tr>
            <td>Miércoles</td>
            <td>9:00 AM - 7:00 PM</td>
          </tr>
          <tr>
            <td>Jueves</td>
            <td>9:00 AM - 7:00 PM</td>
          </tr>
          <tr>
            <td>Viernes</td>
            <td>9:00 AM - 7:00 PM</td>
          </tr>
          <tr>
            <td>Sábado</td>
            <td>10:00 AM - 4:00 PM</td>
          </tr>
          <tr>
            <td>Domingo</td>
            <td>10:00 AM - 4:00 PM</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
