<app-nvbar></app-nvbar>

<div class="mt-7 align-items-center min-h-screen">
    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6 max-w-lg mx-auto">
        <div class="text-center mb-5">
            <div class="text-900 text-3xl font-medium mb-3">Crear Cuenta</div>
            <span class="text-600 font-medium line-height-3">Ya tengo una cuenta</span>
            <a class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Iniciar Sesión</a>
        </div>

        <div>
            <input id="nombre" type="password" placeholder="Nombre" pInputText class="w-full mb-3">
            <input id="apellido" type="password" placeholder="Apellido" pInputText class="w-full mb-3">
            <input id="contraseña" type="password" placeholder="Contraseña" pInputText class="w-full mb-3">
            <input id="contraseña" type="password" placeholder="Confirmar contraseña" pInputText class="w-full mb-3">
            <input id="email" type="text" placeholder="Correo eléctronico" pInputText class="w-full mb-3">
            <input id="teléfono" type="password" placeholder="Teléfono" pInputText class="w-full mb-3">

            <button pButton pRipple label="Registrarse" icon="pi pi-user" class="w-full"></button>
        </div>
    </div>
</div>
<app-footer></app-footer>